/* PC */
@media (min-width: 64em) {
    ::before {
        padding-right: 10px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    ::before {
        padding-right: 10px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    #nav li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
        padding: 0px 9px;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    .column-third {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }
    
    .column {
        margin-bottom: 16px;
    }

    * {
        box-sizing: unset;
    }

    .contact-form .form-control {
        width: 85vw;
    }

    #content .content-section {
        width: 88vw;
        max-width: 100vw;
        padding-left: 0px;
    }

    .ticket-list, #content .about-text, .contact-info {
        width: 92vw;
    }

    .column {
        width: 90vw;
    }

    .ti-menu:before {
        padding: 12px 15px;
    }

    ::before {
        padding-right: 12px;
    }

    .ticket-list .quantity {
        width: 10px;
        line-height: 22px;
        font-weight: 500;
    }

    #content .section-heading,
    #content .section-sub-heading {
        padding-left: 10%;
    }